<!-- This page uses 'base.html' as a template and builds off it -->
{% extends 'base.html' %}


<!-- Main Content For upload -->
{% block content %}
    <h1>{% block title %} {{html_title}} {% endblock %}</h1>
    <form method=post enctype=multipart/form-data>
      <!-- Adding form data fields below -->
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="fname" placeholder="Your First Name Here">
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lname" placeholder="Your Last Name Here">
      <label for="email">Email</label>
      <input type="text" id="email" name="userEmail" placeholder="youremail@example.com">
      <!-- end of new fields - Orig below -->
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    <!-- https://flask.palletsprojects.com/en/2.2.x/patterns/fileuploads/#a-gentle-introduction -->

    {% if html_file != '' %}
      <h5>File Uploaded: {% block html_file %} {{html_file}} {% endblock %}</h5>
    {% endif %}
{% endblock %}