<!-- This page uses 'base.html' as a template and builds off it -->
{% extends 'base.html' %}


<!-- Main Content For upload -->
{% block content %}
    <h1>{% block title %} {{html_title}} {% endblock %}</h1>
    <form method=post enctype=multipart/form-data>
      <!-- Adding form data fields below -->
      <label for="firstname">Enter your First Name:</label>
      <input type="text" id="firstname" name="fname" placeholder="Your First Name Here" required>

      <label for="lastname">Enter your Last Name:</label>
      <input type="text" id="lastname" name="lname" placeholder="Your Last Name Here" required>

      <label for="email">Enter your email address:</label>
      <input type="text" id="email" name="userEmail" placeholder="youremail@example.com" required>

      <label for="phone">Enter your phone number:</label>
      <input type="tel" id="phone" name="userPhone" placeholder="518-867-5309" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
      <!-- Below: file upload section -->
      <input type=file name=file >
      <input type=submit value=Upload class="btn" id="button-standout">
    </form>
    <!-- https://flask.palletsprojects.com/en/2.2.x/patterns/fileuploads/#a-gentle-introduction -->

    {% if html_file != '' %}
      <h5>File Uploaded: {% block html_file %} {{html_file}} {% endblock %}</h5>
    {% endif %}
{% endblock %}